# ---
# - name: Ensure ACL tools are present
#   become: yes
#   apt:
#     name: acl
#     state: present
#     update_cache: yes

# - name: Lecture du fichier CSV des utilisateurs
#   community.general.read_csv:
#     path: "{{ role_path }}/files/users.csv"
#   register: users_data
#   delegate_to: localhost
#   become: no  # Éviter les erreurs de sudo

# - name: Création des utilisateurs depuis le CSV
#   user:
#     name: "{{ item.username }}"
#     comment: "{{ item.comment | default('') }}"
#     groups: "{{ item.groups.split(' ') if item.groups is defined and item.groups|length > 0 else omit }}"
#     password: "{{ item.password | password_hash('sha512') }}"
#     shell: "{{ item.shell | default('/bin/zsh') }}"  # Changement pour zsh par défaut
#     create_home: yes
#     state: present
#     # Force le changement de mot de passe à la première connexion
#     password_expire_max: 0
#   loop: "{{ users_data.list }}"

# - name: Forcer l'expiration immédiate du mot de passe
#   command: passwd -e {{ item.username }}
#   loop: "{{ users_data.list }}"
#   loop_control:
#     label: "{{ item.username }}"

# # Création du dossier .ssh avec les bonnes permissions
# - name: Création du dossier .ssh pour chaque utilisateur
#   file:
#     path: "/home/{{ item.username }}/.ssh"
#     state: directory
#     owner: "{{ item.username }}"
#     group: "{{ item.username }}"
#     mode: '0700'
#   loop: "{{ users_data.list }}"
#   loop_control:
#     label: "{{ item.username }}"

# - name: Configuration SSH pour les utilisateurs
#   authorized_key:
#     user: "{{ item.username }}"
#     key: "{{ lookup('file', role_path + '/files/keys/' + item.username + '.pub') }}"
#   loop: "{{ users_data.list }}"
#   ignore_errors: yes

# # Installation des dépendances nécessaires pour Oh My Zsh et Powerlevel10K
# - name: Installation des dépendances pour Oh My Zsh et Powerlevel10K
#   apt:
#     name:
#       - zsh
#       - git
#       - curl
#       - fonts-powerline
#     state: present

# # Boucle d'installation pour chaque utilisateur
# - name: Configuration de Oh My Zsh et Powerlevel10K pour chaque utilisateur
#   block:
#     # Vérification de l'installation de Oh My Zsh
#     - name: Vérification si Oh My Zsh est déjà installé
#       stat:
#         path: "/home/{{ item.username }}/.oh-my-zsh"
#       register: oh_my_zsh_installed
#       loop: "{{ users_data.list }}"
#       loop_control:
#         loop_var: item
#         label: "{{ item.username }}"

#     # Installation de Oh My Zsh
#     - name: Installation de Oh My Zsh pour chaque utilisateur
#       shell: sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
#       args:
#         executable: /bin/bash
#         creates: "/home/{{ item.username }}/.oh-my-zsh"
#       become: yes
#       become_user: "{{ item.username }}"
#       loop: "{{ users_data.list }}"
#       loop_control:
#         label: "{{ item.username }}"

#     # Installation de Powerlevel10K
#     - name: Installation du thème Powerlevel10K pour chaque utilisateur
#       git:
#         repo: https://github.com/romkatv/powerlevel10k.git
#         dest: "/home/{{ item.username }}/.oh-my-zsh/custom/themes/powerlevel10k"
#         depth: 1
#       become: yes
#       become_user: "{{ item.username }}"
#       loop: "{{ users_data.list }}"
#       loop_control:
#         label: "{{ item.username }}"

#     # Configuration de Powerlevel10K dans .zshrc
#     - name: Configuration du thème Powerlevel10K dans .zshrc de chaque utilisateur
#       lineinfile:
#         path: "/home/{{ item.username }}/.zshrc"
#         regexp: '^ZSH_THEME='
#         line: 'ZSH_THEME="powerlevel10k/powerlevel10k"'
#       become: yes
#       become_user: "{{ item.username }}"
#       loop: "{{ users_data.list }}"
#       loop_control:
#         label: "{{ item.username }}"

#     # Ajout de la ligne de source pour p10k.zsh
#     - name: Ajout de la configuration p10k dans .zshrc
#       lineinfile:
#         path: "/home/{{ item.username }}/.zshrc"
#         line: '[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh'
#         state: present
#       become: yes
#       become_user: "{{ item.username }}"
#       loop: "{{ users_data.list }}"
#       loop_control:
#         label: "{{ item.username }}"

#     # Copie du fichier de configuration P10K pour chaque utilisateur
#     - name: Copie du fichier de configuration P10K
#       copy:
#         src: "{{ role_path }}/files/p10k.zsh"
#         dest: "/home/{{ item.username }}/.p10k.zsh"
#         owner: "{{ item.username }}"
#         group: "{{ item.username }}"
#         mode: '0644'
#       loop: "{{ users_data.list }}"
#       loop_control:
#         label: "{{ item.username }}"